@model IEnumerable<WebApplication2.Models.Radnja>
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trosak)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dobit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PocetakRadnje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KrajRadnje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ravnica)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trosak)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dobit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PocetakRadnje)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KrajRadnje)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ravnica.LokalniNaziv)
                </td>
                <td>
                    @if (@Context.Session.GetString("username") != null)
                    {
                        @if (item.Ravnica.VlasnikId == Context.Session.GetInt32("user_id"))
                        {
                            <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                        else
                        {
                            <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        }
                    }
                    else
                    {
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@if (@Context.Session.GetString("username") != null)
{
    <p>
        <a class="btn btn-success" asp-action="Create">Add New</a>
    </p>
}
