@{
    ViewData["Title"] = "Pocetna";
}

@if (ViewBag.success != null)
{
    <h3>@ViewBag.success</h3>
}


<p style="margin-top:15px"> <b>PROGRAMSKO INŽENJERSTVO</b>, projekt - GRUPA 6;</p>
<table class="table table-striped" id="Nivo">
    <thead>
        <tr>
            <th>Zadatak</th>
            <th>Marin Zelenika</th>
            <th>Ferdo Vukojević</th>
            <th>Luka Bjelica</th>
            <th>Mario Martić</th>
            <th>Mateo Mlinarević</th>
            <th>Matej Pilekić</th>
            <th>Bodovi</th>
        </tr>
    </thead>
    <tr>
        <th>Jednostavni tablični prikaz</th>
        <td></td>
        <td><a href="@Url.Action("Index", "Vlasniks")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td></td>
        <td><a href="@Url.Action("Index", "Mlijekomats")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td>
        <td><a href="@Url.Action("Index", "Farmas")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td></td>
        <td><a href="@Url.Action("Index", "Ravnicas")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td>
        <td><a href="@Url.Action("Index", "Radnjas")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td>
        <td>2</td>
    </tr>
    <tr>
        <th>Straničenje i sortiranje za prikaz tabličnih podataka</th>
        <td></td>
        <td><a href="@Url.Action("Index", "Vlasniks")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td></td>
        <td><a href="@Url.Action("Index", "Mlijekomats")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td></td>
        <td><a href="@Url.Action("Index", "Farmas")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td></td>
        <td><a href="@Url.Action("Index", "Ravnicas")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td>
        <td><a href="@Url.Action("Index", "Radnjas")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td>
        <td>1</td>
    </tr>
    <tr>
        <th>Dodavanje novog podatka</th>
        <td></td>
        <td><a href="@Url.Action("Create", "Vlasniks")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td></td>
        <td><a href="@Url.Action("Create", "Mlijekomats")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td></td>
        <td><a href="@Url.Action("Create", "Farmas")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td></td>
        <td><a href="@Url.Action("Create", "Ravnicas")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td>
        <td><a href="@Url.Action("Create", "Radnjas")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td>
        <td>3</td>
    </tr>
    <tr>
        <th>Ažuriranje jednostavnog podatka</th>
        <td></td>
        <td><a href="@Url.Action("Index", "Vlasniks")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td></td>
        <td><a href="@Url.Action("Index", "Mlijekomats")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td></td>
        <td><a href="@Url.Action("Index", "Farmas")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td></td>
        <td><a href="@Url.Action("Index", "Ravnicas")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td>
        <td><a href="@Url.Action("Index", "Radnjas")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td>
        <td>3</td>
    </tr>
    <tr>
        <th>Brisanje podatka</th>
        <td></td>
        <td><a href="@Url.Action("Index", "Vlasniks")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td></td>
        <td><a href="@Url.Action("Index", "Mlijekomats")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td></td>
        <td><a href="@Url.Action("Index", "Farmas")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td></td>
        <td><a href="@Url.Action("Index", "Ravnicas")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td>
        <td><a href="@Url.Action("Index", "Radnjas")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td>
        <td>1</td>
    </tr>
    <tr>
        <th>Potvrdite brisanje podatka</th>
        <td></td>
        <td><a href="@Url.Action("Index", "Vlasniks")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td></td>
        <td><a href="@Url.Action("Index", "Mlijekomats")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td></td>
        <td><a href="@Url.Action("Index", "Farmas")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td></td>
        <td><a href="@Url.Action("Index", "Ravnicas")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td>
        <td><a href="@Url.Action("Index", "Radnjas")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td>
        <td>0.5</td>
    </tr>
    <tr>
        <th>Prikaz pojedinačnog složenog podatka</th>
        <td></td>
        <td><a href="@Url.Action("Index", "Vlasniks")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td>
        <td><a href="@Url.Action("Index", "Vlasniks")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td></td>
        <td><a href="@Url.Action("Index", "Mlijekomats")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td></td>
        <td><a href="@Url.Action("Index", "Farmas")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td>
        <td><a href="@Url.Action("Index", "Radnjas")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td></td>
        <td>3</td>
    </tr>
    <tr>
        <th>Rad sa stavkama složenog podatka</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>Validacija</th>
        <td></td>
        <td><a href="@Url.Action("Create", "Vlasniks")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td></td>
        <td><a href="@Url.Action("Create", "Mlijekomats")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td></td>
        <td><a href="@Url.Action("Create", "Farmas")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td>
        <td><a href="@Url.Action("Create", "Ravnicas")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td>
        <td><a href="@Url.Action("Create", "Radnjas")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td>
        <td>1.5</td>
    </tr>
    <tr>
        <th>Odabir vrijednosti vezanih podataka korištenjem padajuće liste</th>
        <td></td>
        <td><a href="@Url.Action("Index", "Mlijekomats")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td></td>
        <td><a href="@Url.Action("Index", "Mlijekomats")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td></td>
        <td><a href="@Url.Action("Index", "Farmas")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td>
        <td><a href="@Url.Action("Index", "Ravnicas")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td>
        <td><a href="@Url.Action("Create", "Radnjas")"><i style="color:limegreen" class="far fa-arrow-alt-circle-right fa-2x "></i></a></td>
        <td>2</td>
    </tr>
    <tr>
        <th>Odabir vrijednosti vezanih podataka nadopunjavanjem</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>3</td>
    </tr>
</table>

