@model WebApplication2.Models.Vlasnik

@{
    ViewData["Title"] = "Details";
}

<h2>Moj profil</h2>

<div>
    @if(ViewBag.success!=null)
    {
        <h3>@ViewBag.success</h3>
    }
    <h4>Vlasnik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.korisnickoIme)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.korisnickoIme)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.lozinka)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.lozinka)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prezime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Udruga)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Udruga)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success"asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Delete account</a>
</div>
