@model IEnumerable<WebApplication2.Models.Farma>

@{
    ViewData["Title"] = "MojeFarme";
}

<h2>Moje Farme</h2>

<p>
    <a asp-action="Create" asp-controller="Farmas" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LokalniNaziv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lng)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LokalniNaziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lng)
            </td>
            <td>
                <a class="btn btn-primary" asp-controller="Farmas" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-success" asp-controller="Farmas" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-danger" asp-controller="Farmas" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
