



@model IEnumerable<WebApplication2.Models.Mlijekomat>

@{
    ViewData["Title"] = "Moji Mljekomati";
}

<h2>Moji Mljekomati</h2>

<p>
    <a asp-action="Create" asp-controller="Mlijekomats" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LokalniNaziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lng)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VelicinaSpremnika)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trosak)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LokalniNaziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lng)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VelicinaSpremnika)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trosak)
            </td>
            <td>
                <a class="btn btn-primary" asp-controller="Mlijekomats" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-success" asp-controller="Mlijekomats" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-danger" asp-controller="Mlijekomats" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>


